body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.clear{
  clear: both;
}
.Container{
  width: 450px;
  margin: 0px auto;
  margin-top: 50px;
}

.Container .img-left{
  width: 50%;
  float: left;
}
.Container .img-left img{
  width: 200px;;
}
.Container .content-right{
  width: 50%;
  float: left;
}
.Container .content-right button{
  display: inline;
  border-radius :5px; 
  margin: 3px 7px;
  color: blanchedalmond;
  background-color: rgb(189, 15, 15);
}
.Container .content-right button:nth-child(1){
  margin-left: 0px;

}
.Container .content-right button:hover{
  color: aqua;
  background-color: blue;
}
.Banner-footer{
  margin: 20px auto;
  width: 450px;
  height: 50px;
  background-color: rgb(250, 129, 139)
 
}
.Banner-Content{
  line-height: 50px;
}
.Banner-Content span{
  margin-left: 60px;
}
@media only screen and (max-width: 450px) {
    .Container .img-left{
  
    }
}